<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <div class="container">
        Simple alerts
        <hr>
        <div class="alert alert-primary">
            Hie This is alert
        </div>

        <div class="alert alert-danger">
            Hie This is alert
        </div>

        <div class="alert alert-success">
            Hie This is alert
        </div>

        <div class="alert alert-warning">
            Hie This is alert
        </div>

        <div class="alert alert-info">
            Hie This is alert
        </div>
        <div class="alert alert-dark">
            Hie This is alert
        </div>
        <div class="alert alert-light">
            Hie This is alert
        </div>

        Outline alerts
        <hr>
        <div class="alert alert-outline-success">
            Hie This is alert
        </div>
        <div class="alert alert-outline-primary">
            Hie This is alert
        </div>
        <div class="alert alert-outline-warning">
            Hie This is alert
        </div>
        <div class="alert alert-outline-danger">
            <i class="material-icons icons-main">error</i> Hie This is alert
        </div>
        <div class="alert alert-outline-info">
            Hie This is alert
        </div>
        <div class="alert alert-outline-dark">
            Hie This is alert
        </div>
        <div class="alert alert-outline-light">
            Hie This is alert
        </div>
        Solid alerts
        <hr>
        <div class="alert alert-solid-success">
            <i class="material-icons icons-main">check_box</i> Hie This is alert
        </div>
        <div class="alert alert-solid-primary">
            Hie This is alert
        </div>
        <div class="alert alert-solid-warning">
            <i class="material-icons margin-16">warning</i> Hie This is alert
        </div>
        <div class="alert alert-solid-danger">
            <i class="material-icons icons-main">error_outline</i> Hie This is alert
        </div>
        <div class="alert alert-solid-info">
            Hie This is alert
        </div>
        <div class="alert alert-solid-dark">
            Hie This is alert
        </div>
        <div class="alert alert-outline-light">
            Hie This is alert
        </div>
        big alerts
        <hr>

        <div class="alert alert-success d-flex-column">
            <div class="heading3"><i class="material-icons">beenhere</i>Hello</div>
            <hr>
            Hie This is alert did you like it i loved it what about you?<br>
            if not let me know at sanu29121999@gmail.com<br>
            Thanks
        </div>
        dismiss
        <hr>
        <div class="alert alert-danger" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>
        callout
        <div class="alert alert-callout-primary" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>

        <div class="alert alert-callout-warning" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>
        <div class="alert alert-callout-danger" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>
        <div class="alert alert-callout-info" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>
        <div class="alert alert-callout-success" id="alert-dismiss">
            <div class="alert-text">Hie saniya how are you?</div>
            <div class="dismiss"> <i class="material-icons" id="dismiss">close</i></div>
        </div>
        <hr>

    </div>
    <script src="../js/alert.js.js"></script>
</body>

</html>