<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>


    <div class="container-center">
        <img src="../assets/images/avtar2.jpg" alt="avtar" class="avtar av-lg">
        <img src="../assets/images/avtar2.jpg" alt="avtar" class="avtar">
        <img src="../assets/images/avtar2.jpg" alt="avtar" class="avtar av-sm">
        <img src="../assets/images/avtar2.jpg" alt="avtar" class="avtar av-xs">
    </div>


    <div class="container-center">
        <img src="../assets/images/avtar5.jpg" alt="avtar" class="avtar border-radius-lg av-lg">
        <img src="../assets/images/avtar5.jpg" alt="avtar" class="avtar border-radius-md av-sm">
        <img src="../assets/images/avtar5.jpg" alt="avtar" class="avtar border-radius-sm av-xs">
    </div>



    <div class="container-center">
        <div class="avtar d-flex justify-content-center align-items-center heading3 text-primary av-lg">AB</div>
        <div class="avtar d-flex justify-content-center align-items-center heading4 text-primary">AB</div>
        <div class="avtar d-flex justify-content-center align-items-center heading4 text-primary av-sm">AB</div>
        <div class="avtar d-flex justify-content-center align-items-center heading5 text-primary av-xs">AB</div>
    </div>



    <div class="container-center">
        <img src="../assets/images/avtar4.jpg" alt="avtar" class="avtar av-lg av-margin-shadow">
        <img src="../assets/images/avtar4.jpg" alt="avtar" class="avtar av-lg av-margin-online">
        <img src="../assets/images/avtar4.jpg" alt="avtar" class="avtar av-lg av-margin-buzy">
        <img src="../assets/images/avtar4.jpg" alt="avtar" class="avtar av-lg av-margin-offline">
    </div>




</body>

</html>