<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>

    <div class="container-main">
        <div class="heading4">Simple badges</div>
        <div class="badge badge-primary">primary</div>
        <div class="badge badge-danger">danger</div>
        <div class="badge badge-warning">warning</div>
        <div class="badge badge-info">info</div>
        <div class="badge badge-dark">dark</div>
        <div class="badge badge-light">Light</div>
        <div class="badge badge-success">success</div>

    </div>


    <div class="container-center">
        <div class="avtar position-relative d-flex justify-content-center align-items-center heading3 text-primary ">
            AB
            <div class="border-radius-lg position-absolute badge-online"></div>
        </div>


        <div class="position-relative">
            <img src="../assets/images/avtar5.jpg" alt="avtar" class="avtar border-radius-lg av-margin">
            <div class="border-radius-lg position-absolute badge-buzy para6"> 2 </div>
        </div>

        <div class="position-relative">
            <img src="../assets/images/avtar4.jpg" alt="avtar" class="avtar av-margin-blur">
            <div class="border-radius-lg position-absolute badge-buzy"></div>
        </div>
        <div class="avtar position-relative d-flex justify-content-center align-items-center heading3 text-primary ">
            AB
            <div class="border-radius-lg position-absolute badge-offline"></div>
        </div>
    </div>
    <div class="container-center">
        <div class="position-relative">
            <span class="material-icons heading2">
                shopping_cart
            </span>
            <div class="position-absolute border-radius-lg badge-buzy badge-icon">
            </div>

            <div class="position-relative">
                <span class="material-icons heading2">
                    shopping_cart
                </span>
                <div class="position-absolute border-radius-lg badge-online badge-icon">
                </div>
                <div class="position-relative">
                    <span class="material-icons heading2">
                        shopping_cart
                    </span>
                    <div
                        class="position-absolute border-radius-lg badge-buzy badge-icon d-flex align-items-center justify-content-center">
                        5
                </div>
                </div>
            </div>


</body>
</html>