.badge{
    display         : inline ;
    margin          : 4px;
    line-height     : 48px;
    border          : solid var(--gray) 1px;
    border-radius   : 10px;
    padding         :  3px  7px 3px 7px;
    width           :fit-content;
    font-weight     : 600;
    color           : var(--white);
}
/* simple */

.badge-primary{
    background-color: var(--primary);
}
.badge-light{
    color           : var(--black);
    background-color: var(--light);
}
.badge-danger{
    background-color: var(--danger);
}
.badge-warning{
    background-color: var(--warning);
}
.badge-info{
    background-color: var(--info);
}
.badge-dark{
    background-color: var(--dark);
}
.badge-success{
    background-color: var(--success);
}

/* badge on avtar */
.badge-online{
    background-color:var(--success);
    border          : solid 2px #fff;
    height          : 1rem;
    width           : 1rem;
    bottom          : -5px;
    right           : 5px;
}
.badge-buzy{
    background-color:var(--danger);
    border          : solid 2px #fff;
    height          : 1.3rem;
    width           : 1.3rem;
    bottom          : 2px;
    right           : 7px;
    text-align      : center;
    color           : #fff;
}
.badge-offline{
    background-color:var(--gray);
    border          : solid 2px #fff;
    min-height      : 1rem;
    min-width       : 1rem;
    width           : fit-content;
    height          : fit-content;
    bottom          : -5px;
    right           : 5px;
    color           : var(--black);
}
.badge-icon{
    display         : inline;
    left            : 1rem;
    top             :-9px;
    font-size       : 0.5rem;
}

