.btn{
    margin          : 0.5rem;
    padding         : 0.8rem;
    border          : solid var(--light-gray) 1px;
    display         : block;
    width           : max-content;
    border-radius   : 3px;
    cursor          : pointer;
    
}
.btn:hover{
    font-weight     : 600;
    transition      : all 1s ease;
}
.btn-primary{
    color           : var(--light);
    background-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary-bg);
    color           : var(--primary);
    border          : solid var(--primary) 1px;
}
.btn-danger{
    color           : var(--light);
    background-color: var(--danger);
}
.btn-danger:hover{
    background-color: var(--danger-bg);
    color           : var(--danger);
    border          : solid var(--danger) 1px;
    font-weight     : 600;
}
.btn-warning{
    color           : var(--light);
    background-color: var(--warning);
}
.btn-warning:hover{
    background-color: var(--warning-bg);
    color           : var(--warning);
    border          : solid var(--warning) 1px;
    font-weight     : 600;
}
.btn-success{
    color           : var(--light);
    background-color: var(--success);
}
.btn-success:hover{
    background-color: var(--success-bg);
    color           : var(--success);
    border          : solid var(--success) 1px;
    font-weight     : 600;
}
.btn-info{
    color           : var(--light);
    background-color: var(--info);
}
.btn-info:hover{
    background-color: var(--info-bg);
    color           : var(--info);
    border          : solid var(--info) 1px;
    font-weight     : 600;
}
.btn-dark{
    color           : var(--light);
    background-color: var(--dark);
}
.btn-dark:hover{
    background-color: var(--dark-bg);
    color           : var(--dark);
    border          : solid var(--dark) 1px;
    font-weight     : 600;
}
.btn-light{
    color           : var(--dark);
    background-color: var(--light);
}
.btn-light:hover{
    background-color: var(--dark-bg);
    color           : var(--light);
    border          : solid var(--light) 1px;
    font-weight     : 600;
}
.btn-success-outline:hover{
    color           : var(--light);
    background-color: var(--success);
}
.btn-success-outline{
    background-color: var(--success-bg);
    color           : var(--success);
    border          : solid var(--success) 1px;
    font-weight     : 600;
}
.btn-danger-outline:hover{
    color           : var(--light);
    background-color: var(--danger);
}
.btn-danger-outline{
    background-color: var(--danger-bg);
    color           : var(--danger);
    border          : solid var(--danger) 1px;
    font-weight     : 600;
}
.btn-info-outline:hover{
    color           : var(--light);
    background-color: var(--info);
}
.btn-info-outline{
    background-color: var(--info-bg);
    color           : var(--info);
    border          : solid var(--info) 1px;
    font-weight     : 600;
}
.btn-primary-outline:hover{
    color           : var(--light);
    background-color: var(--primary);
}
.btn-primary-outline{
    background-color: var(--primary-bg);
    color           : var(--primary);
    border          : solid var(--primary) 1px;
    font-weight     : 600;
}
.btn-light-outline:hover{
    color           : var(--light);
    background-color: var(--light-bg);
}
.btn-light-outline{
    background-color: var(--light);
    color           : var(--light-bg);
    border          : solid var(--light-bg) 1px;
    font-weight     : 600;
}
.btn-dark-outline:hover{
    color           : var(--light);
    background-color: var(--dark);
}
.btn-dark-outline{
    background-color: var(--dark-bg);
    color           : var(--dark);
    border          : solid var(--dark) 1px;
    font-weight     : 600;
}
.btn-warning-outline:hover{
    color           : var(--light);
    background-color: var(--warning);
}
.btn-warning-outline{
    background-color: var(--warning-bg);
    color           : var(--warning);
    border          : solid var(--warning) 1px;
    font-weight     : 600;
}
.btn-icon{
    border          : none;
    border-radius   : 50%;
}
.btn-icon:hover{
    box-shadow      : 1px 1px 10px 1px var(--gray);
}
.btn-margin-blur{
    box-shadow      :0px 0px 13px 1px var(--success);
}
.btn-margin{
    border          :solid 2px white;
    box-shadow      :0px 0px 1px 3px #9f091d;
}
.btn-margin-shadow{
    box-shadow      :1px 1px 5px 0px rgba(0,0,0,0.6), -5px 2px 50px 0px #037cd5;
}
.badge-action-button{
    background-color:var(--info);
    color           : var(--light);
    border          : solid 2px #fff;
    height          : 2rem;
    width           : 2rem;
    bottom          : -17px;
    right           : -2px;
    padding         : 2.5px;
    cursor          : pointer;
  }

  .btn-link{
      border: none;
      color: var(--primary);
      font-weight: 600;
  }

  .btn-link:hover{
      font-weight: 800;
      background-color: var(--light-gray);
  }