<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <div class="container-center">

        simple button

        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-light">Light</button>
        <button class="btn btn-dark">Dark</button>
    </div>
    <div class="container-center">
        Link button / Div / input /submit/ reset

        <a class="btn  btn-link" href="#"> Link </a>
    </div>

    <div class="container-center">

        outline button

        <button class="btn btn-primary-outline">Primary</button>
        <button class="btn btn-danger-outline">Danger</button>
        <button class="btn btn-success-outline">Success</button>
        <button class="btn btn-warning-outline">Warning</button>
        <button class="btn btn-info-outline">Info</button>
        <button class="btn btn-light-outline">light</button>
        <button class="btn btn-dark-outline">Dark</button>
    </div>


    <div class="container-center">
        <span class="material-icons heading2 btn btn-icon">
            shopping_cart
        </span>
        <span class="material-icons heading2 btn btn-icon btn-danger-outline">
            favorite
        </span>
        <span class="material-icons heading2 btn btn-icon btn-warning">
            grade
        </span>

    </div>

    <div class="container-center">
        <div class="btn btn-margin-blur btn-success">Saniya</div>
        <div class="btn btn-margin btn-danger">Saniya</div>
        <div class="btn btn-margin-shadow btn-primary">Saniya</div>

    </div>
    <div class="container-center">

        <div class="position-relative d-flex justify-content-center align-items-center ">
            <img src="../assets/images/avtar2.jpg" alt="avtar" class="avtar">
            <i class="material-icons border-radius-lg position-absolute badge-action-button ">add</i>
        </div>

        <i class="material-icons btn btn-icon btn-success">add</i>
        <i class="material-icons btn btn-icon btn-primary-outline">arrow_upward</i>
    </div>
    </div>

</body>

</html>