
.card{
    display: flex;
    width:fit-content;
    flex-direction: column;
    margin: 3rem;
    background-color: var(--white);
    border: solid 1px var(--light-gray);
    height: min-content;
    overflow: hidden;
    padding: 1px;
    box-shadow: 0rem 4px 3px 0rem var(--gray);
}
.card-img-main{
    height: 18rem;
    width: 100%;
    position: relative;
    overflow: wrap;
    overflow: hidden;
}
.card-img-horizontal{
    height: 8rem;
    width: 8rem;
    position: relative;
    overflow: wrap;
    overflow: hidden;
}
.card-primary{
    margin: 1rem;
    align-self: center;
}
.card-title{
    margin: 0px;
    height: fit-content;
    text-align: center;
}
.card-subtitle{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem 0 1rem 0;
    text-align: center;
}
.card-secondary{
    padding: 0 1rem 0.5rem 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.88rem;
}
.card-icon-dismiss{
    color: var(--danger);
    top: 0rem;
    right:-5px;
    padding: 0.4rem; 
    margin: 1rem;  
    background-color: var(--white);
}
.card-badge{
    position: absolute;
    top:0rem;
    left: 0rem;
}
.card-text-overlay{
    color: var(--dark);
    top: 10rem;
    left: 30%;
    z-index: 3;
}
