<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>

    <div class="header-headline">
        Simple Header
    </div>

        <div class="header w-100">
            <i class="material-icons header-icon" >menu</i> 
            <span class="header-main-text">Header</span>

            <div class="header-end-icons">
                <i class="material-icons header-icon" >download</i>
                <i class="material-icons header-icon" >print</i>
                <i class="material-icons header-icon" >bookmark</i>
            </div>
          
    </div>





        <div class="header">
            
            <i class="material-icons header-icon" >menu</i> 
            <span class="header-main-text">WebSite</span>
           
           
            <div class="d-flex-row w-100 justify-content-center">
                <input type="text" class="input-sm box-shadow-none" placeholder="Seacrh...">
                <div class="material-icons align-self-center" >search</div>    
            </div>
          

            <div class="header-end-icons">
             <i class="material-icons header-icon" >download</i>
            <i class="material-icons header-icon" >print</i>
            <i class="material-icons header-icon" >bookmark</i>
        </div>
    </div>


    <div class="header-short">
        <i class="material-icons header-icon header-icon-short" >menu</i> 
        <i class="material-icons header-icon header-icon-short" >bookmark</i>

</div>
</div>


</div>
<div class="rating">
    <i class="material-icons star" id="star-1" >star</i>
    <i class="material-icons star" id="star-2">star</i>
    <i class="material-icons star" id="star-3">star</i>
    <i class="material-icons star" id="star-4">star_outline</i>
    <i class="material-icons star" id="star-5">star_outline</i>


</div>
</body>
<script src="../component.js"></script>
</html>