
.header-simple{
    display: flex;
    align-items: center;  
    justify-content: start;
    width: 100vw;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--white);
    border-radius:5px;
    margin:0 0 1rem 0
}

.header{
    display: flex;
    align-items: center;  
    justify-content: start;
    width: 100vw;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--white);
    border-radius:5px;
    margin:0 0 1rem 0
}
.header-main-text{
    width: fit-content;
    margin:0 1.5rem 0 0.5rem ;;
}
.header-icon{
    font-size: inherit;
    margin:0 1.5rem 0 0.5rem ;
    padding: 0.5rem;
    border-radius: 50% ;
}
.header-icon:hover{
    background-color: var(--primary);
}
.header-end-icons{
    display: flex;
    width: 100%;
    justify-content: end;
}
.header-short{
    width: 8rem;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem  0.5rem 0;
    color: #fff;
    margin: 1rem 0rem;
    border-bottom-right-radius: 1.5rem;
}
.search-btn{
    padding: 3px;;
    background-color: var(--white);
    border: solid 1px var(--gray-dark);
    color: var(--primary-color);
    margin: 0px;
    border-radius: 0 5px 5px 0;
}