input{
    border: solid 1px var(--black-dark);
    padding: 6px 10px 6px 10px;
    border-radius: 2px;
    margin: 3px;
    outline: none;
}
textarea{
    resize: none;
    outline: none;
    margin: 3px;
    padding: 6px 10px 6px 10px;
}
.input{
    line-height: 22px;
    font-size: 1rem;  
}
.input-error{
  border: solid 1px var(--danger);
}
.input-error-text{
    color: var(--danger);
    display: block;
    margin-left:4px;
}
input::placeholder{
    font-size: 0.8rem;
}
.input-sm{
    line-height: 18px;
    font-size: 0.8rem;
} 
.input-lg{
    line-height: 28px;
    font-size: 1.2rem;
}
.input:focus{
    box-shadow:  2px 2px 2px 0rem var(--light-gray);
}
.input-readonly{
    background-color: var(--light-gray);
    border: solid 1px var(--gray);
    color: var(--gary-dark);
    width: max-content;
}
.input-checkbox
{
    width: 1rem;
    height: 1rem;
    margin: 5px;
}
.label{
    margin: 1rem 0 3px 0;
    margin-right:1rem;
}
.input-radio
{
    width: 1rem;
    height: 1rem;
    margin: 5px;
}