<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <div class="container-main">
        
        <h3>Normal input</h3>
        <label for="username"></label>
        <input type="text" id="username" class="input" placeholder="Name" required>

        <h3>Small Text Area</h3>
        <input type="text" id="username" class="input input-sm" placeholder="Name" required>

        <h3>Large text area</h3>
        <input type="text" id="username" class="input input-lg" placeholder="Name" required>

        <h3>Password input</h3>
        <input type="password" class="input" placeholder="Password" required>

        <h3>Email input</h3>
        <input type="email" class="input" placeholder="abc@xyz.com" required>
       
        <h3> Error</h3>
        <input type="text" id="error" class="input input-error" placeholder="Name" required>
        <label for="error" class="input-error-text para6">Error</label>


        <h3>Text Area input</h3>
        <textarea name="textarea" class="input" id="Address"></textarea>

        <h3>Read Only input</h3>
        <label for="username"></label>
        <input type="text" id="username" class="input input-readonly " value="Read Only !!!!!" readonly required>
    
        <h3>Check box</h3>
        <input type="checkbox" name="number" class="input input-checkbox" value="one" id="one">
        <label for="one">One</label>
        <input type="checkbox" name="number" class="input input-checkbox" value="two" id="two">
        <label for="two">Two</label>
    


        
        <h3>Radio Button</h3>
        <input type="radio" name="name" class=" input-radio" value="one" id="one">
        <label for="one">One</label>
        <input type="radio" name="name" class=" input-radio" value="two" id="two">
        <label for="two">Two</label>
    </div>
</body>

</html>