<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div>Ordered list</div>
    
        <ol class="ol-list">
            <li class="li">Orange</li>
            <li class="li">Grapes</li>
            <li class="li">Orange</li>
            <li class="li">Grapes</li>
        </ol>
    </div>

    <div>unordered list</div>
    
    <ul class="ul-list">
        <li class="li">Orange</li>
        <li class="li">Grapes</li>
        <li class="li">Orange</li>
        <li class="li">Grapes</li>
    </ul>

    <div>Stacked List</div>
        <ul class="list-stacked">
            <li class="list-stacked-item">Saniya Shaikh</li>
            <li class="list-stacked-item">Saniya</li>
            <li class="list-stacked-item">Saniya</li>
            <li class="list-stacked-item">Saniya</li>
            <li class="list-stacked-item">Saniya</li>

        </ul>
</div>
</body>
</html>