<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>
<body>
<div class="container-fluid">

  <button class="btn btn-primary " id="modal-btn">CLick here for modal</button>
  <div class="modal">
    <div class="modal-content" id="modal">
      <div class="text-align-center heading-4"> Header</div>
      <div class="text-align-center  modal-text"> Text</div>
      <button class="margin-8 btn btn-link d-inline">Action </button>
      <button class="margin-8 btn btn-link d-inline" id="close">Action </button>
    </div>
  </div>
  <div class="badge-headline"> Snackbar </div>

  <button class="btn btn-info" id="toastbtn">Click here for Toast</button>
  <div class="snackbar hidden" id="toast">
    <div class="snackbar-txt"> Cannot send Photo. Retry after 5 seconds.</div>
    <div class="btn-link margin-8">RETRY </div>
    <i class="material-icons btn-icon margin-8">close</i>
  </div>

  </body>
  <script src="../component-js/modal.js"></script>
  

</html>