.snackbar{
    display: flex;
    flex-direction: row;
   background-color: #333333;
   max-width: 30rem;
   padding: 1rem;
   color: #E2E2E2;
   border-radius: 5px;
   justify-content: space-between;
   margin: 1rem;
   position: absolute;
   top: 1px;
   right: 1px;
   align-content: center;
}

.snackbar-txt{
   align-self: center;
   justify-self: center;
   padding: 5px;
   font-weight: 500;
   margin:0 1rem 0 1rem ;
}
