@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


/*  Containers  */
.container-main{    display: block; margin: 1rem; }
.container-fluid{  display: block;  width: 90%;  }


.container-center
{
    display:flex;
    width: 90%;
    justify-content: center;
    margin: 5rem;
    align-content: center;

}

/* Borders */

.border-muted             {    border: solid 1px var(--gray-dark);       }
.border-inhert            {    border: solid 1px inherit;                }
.border-strong            {    border: solid 3px var(--gray-dark);       }
.border-radius-sm         {    border-radius: 5px;                       }
.border-radius-md         {    border-radius: 10px;                      }
.border-radius-lg         {    border-radius: 15px;                      }
.border-radius-full       {    border-radius:50%;                        }
.border-radius-none       {    border-radius: 0;                         }

/* Text */

.text-black         {    color: var(--black-dark);          }
.text-light-black   {    color: var(--black-light);         }
.text-primary       {    color: var(--primary-color);       }
.text-secondary     {    color: var(--secondary-one-color); }


/* Display */

.d-none             {                display: none;          }
.d-block            {               display: block;          }
.d-inline           {              display: inline;          }
.d-inline-block     {        display: inline-block;          }

/* Display Flex */
.d-flex                 {            display: flex                                       ;}
.d-flex-row             {            display: flex;      flex-direction: row;            }
.d-flex-column          {            display: flex;      flex-direction: column;         }
.d-flex-row-reverse     {            display: flex;      flex-direction: row-reverse;    }
.d-flex-column-reverse  {            display: flex;      flex-direction:column-reverse;  }

/* justify-content */
.justify-content-start      {       justify-content: flex-start;             }
.justify-content-end        {       justify-content: flex-end;               }
.justify-content-center     {       justify-content: center;            }
.justify-content-between    {       justify-content: space-between;     }
.justify-content-around     {       justify-content: space-around;      }
.justify-content-evenly     {       justify-content: space-evenly;      }

/* justify-self */
.justify-self-start      {       justify-self: flex-start;             }
.justify-self-end        {       justify-self: flex-end;               }
.justify-self-center     {       justify-self: center;            }
.justify-self-between    {       justify-self: space-between;     }
.justify-self-around     {       justify-self: space-around;      }
.justify-self-evenly     {       justify-self: space-evenly;      }

/* justify-items */
.justify-items-start      {       justify-items: flex-start;             }
.justify-items-end        {       justify-items: flex-end;               }
.justify-items-center     {       justify-items: center;            }
.justify-items-between    {       justify-items: space-between;     }
.justify-items-around     {       justify-items: space-around;      }
.justify-items-evenly     {       justify-items: space-evenly;      }

/*Align-items */
.align-items-start          {    align-items: flex-start;               }
.align-items-end            {    align-items: flex-end;                 }
.align-items-center         {    align-items: center;                   }
.align-items-baseline       {    align-items: baseline;                 }
.align-items-stretch        {    align-items: stretch;                  }
.align-self-start           {    align-self: flex-start;                }
.align-self-end             {    align-self: flex-end;                  }
.align-self-center          {    align-self: center;                    }
.align-self-baseline        {    align-self: baseline;                  }
.align-self-stretch         {    align-self: stretch;                   }

/* flex-wrap */
.flex-nowrap                {    flex-wrap: nowrap;     }
.flex-wrap                  {    flex-wrap: wrap;       }

/* align-constent */
.align-content-start        {    align-content: flex-start;         }
.align-content-end          {    align-content: flex-end;           }
.align-content-center       {    align-content: center;             }
.align-content-around       {    align-content: space-around;       }
.align-content-stretch      {    align-content:stretch;             }

