
/* margin */

.margin-none{    margin: 0;     }
.margin-4   {    margin: 4px;   }
.margin-8   {    margin: 8px;   }
.margin-16  {    margin: 16px;  }
.margin-24  {    margin: 24px;  }
.margin-32  {    margin: 32px;  }
.margin-40  {    margin: 40px;  }
.margin-64  {    margin: 64px;  }


/* padding */

.padding-none{    padding: 0;       }
.padding-4   {    padding: 4px;     }
.padding-8   {    padding: 8px;     }
.padding-16  {    padding: 16px;    }
.padding-24  {    padding: 24px;    }
.padding-32  {    padding: 32px;    }
.padding-40  {    padding: 40px;    }
.padding-64  {    padding: 64px;    }


/* opacity */

.opacity-50{    opacity: 25%;   }
.opacity-50{    opacity: 50%;   }
.opacity-50{    opacity: 75%;   }
.opacity-50{    opacity: 100%;  }

/* shadow */

.box-shadow-deep{    box-shadow: 0 5px 1rem 0 var(--gray);      }
.box-shadow-none{    box-shadow: none;                          }



/* visibility */
.visible        {    visibility: visible !important;     }
.invisible      {    visibility: hidden !important;      }

/* Grid */

.grid-two-items     { display: grid;    grid-template-columns: auto auto; }
.grid-three-items   { display: grid;  grid-template-columns: auto auto auto;   }

/* width */

.w-100        {     width: 100%;        }
.w-75         {     width: 75%;         }
.w-50         {     width: 50%;         }
.w-25         {     width: 25%;         }
.w-fit-content{     width: fit-content; }
.w-auto       {     width: auto;        }

/* hide */
.hidden {         display: none;     }
.disp   {         display: block;    }

/* media */
@media screen and (min-width:480px) {
    .hide-xm{
        display: none;
    }  
    .display-xm{
        display: block;
    }  
}

@media screen and (min-width:640px) {
    .hide-sm{
        display: none;
    }    
    .display-sm{
        display: block;
    } 
    .header-end-icons{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .hide-md{
        display: none;
    }    
    .display-md{
        display: block;
    } 
}

@media screen and (min-width:1024px) {
    .hide-lg{
        display: none;
    }   
    .display-lg{
        display: block;
    }  
}

