:root{
     

    /* **************** Websit Color ******************* */

     --primary-color       : #04566E ;
     --secondary-one-color : #339EA0;
     --secondary-two-color : rgb(252, 243, 136);
     --secondary-nav-color : #f2f4f6;


    /* **************** Color ******************* */

     --primary          :    rgb(34,66,152);
     --success          :    #127044;
     --info             :    #0c98b4;
     --warning          :    #FEA219;
     --danger           :    #F4554A;
     --light            :    #f8f9fa;
     --dark             :    #212529;
     --primary-hover    :    #4F46E5;
     --secondary-hover  :    #E5E7EB;
     --danger-hover     :    #d31609;
     --success-hover    :    #0d8611;
     --active-hover     :    #058ce0;
    /* **************** Background Color ******************* */

     --primary-bg  : rgb(207,226,255);
     --success-bg  : rgb(209,231,221);
     --info-bg     : rgb(154, 223, 236);
     --warning-bg  : rgb(255,243,205);
     --danger-bg   : rgb(248,215,218);
     --light-bg    : rgb(43, 44, 44);
     --dark-bg     : #D3D3D4;

    /* **************** Text Color ******************* */

     --white       : #fff;
     --light-gray  : #cfd1d3;
     --gray        : #6c757d;
     --gray-dark   : #343a40;
     --black-light : #282a2c;
     --black-dark  : #161718;


}