:root{
     

    /* **************** Websit Color ******************* */

     --primary-color       : #04566E ;
     --secondary-one-color : #339EA0;
     --secondary-two-color : #E9E786;
     --secondary-nav-color : #f2f4f6;


    /* **************** Color ******************* */

     --primary          :    #224298;
     --success          :    #127044;
     --info             :    #0c98b4;
     --warning          :    #FEA219;
     --danger           :    #F4554A;
     --light            :    #f8f9fa;
     --dark             :    #212529;
     --primary-hover    :    #4F46E5;
     --secondary-hover  :    #E5E7EB;
     --danger-hover     :    #d31609;
     --success-hover    :    #0d8611;
     --active-hover     :    #058ce0;
    /* **************** Background Color ******************* */

     --primary-bg  : #CFE2FF;
     --success-bg  : #D1E7DD;
     --info-bg     : #9ADFEC;
     --warning-bg  : #FFF3CD;
     --danger-bg   : #F8D7DA;
     --light-bg    : #2B2C2C;
     --dark-bg     : #d3d3d4;

    /* **************** Text Color ******************* */

     --white       : #fff;
     --light-gray  : #cfd1d3;
     --gray        : #6c757d;
     --gray-dark   : #343a40;
     --black-light : #282a2c;
     --black-dark  : #161718;


}